body {
    align-items: center;
    color:whitesmoke;
    background-color: #463f3a;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu .weather {
    font-style: italic;
}
.menu div,
.logContainer p {
    padding:0 10px;
    margin: 5px;
    font-size: large;
}
.logContainer {
    position: relative;
}
.logContainer button{
    position: absolute;
    right: 10px;
    top :3px;
}
.logContainer p{
    position: inherit;
    right: 50px;
}
.userNameForm,
.logContainer {
    display: none;
}
.showing {
    display: block;
}
/* ---------------------------------- */
.weatherIcon,
.clock,
.todoCont {
    text-align: center;
}
.weatherIcon{
    margin-top: 80px;
    height: 150px;
}
.clock {
    font-size: 100px;
    margin: 3px 3px 100px;
}
.todoCont form span, input,
.userNameForm{
    font-size: 17px;
}
.todoListCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.todoListCont div, hr,
#todo {
    width: 400px;
}
ul {
    border: rgb(133, 131, 131) 3px solid;
    border-radius: 3%;
    padding-inline-start: 5px;
    padding-block: 10px;
    text-align: left;
    list-style: none;
}
ul li span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
}
.todobtn {
    padding: 0 5px;
    border: none;
    background: none;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(2px) brightness(50%);
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}